@import "bootstrap/dist/css/bootstrap.min.css";
body {
  font-family: sans-serif;
}
h1 {
  color: rgb(23, 5, 112);
}
.verde {
  background-color: green;
}
.giallo {
  background-color: yellow;
}
.gray {
  background-color: gray;
}
